<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### EXERCISE 2: CREATE A MARKDOWN CELL WITH THE NOTEBOOK TITLE

# Data Science Tools and Ecosystem

### EXERCISE 3: CREATE A MARKDOWN CELL FOR AN INTRODUCTION

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives**:
-List of popular languages for Data Science
-List of popular libraries in Data Science languages
-Arithmetic expression examples in Jupyter
-Creation of markdown cells

### Exercise 10 - Insert a markdown cell to list Objectives (exercise completed below exercise 3, upper this headline)

### EXERCISE 4: CREATE A MARKDOWN CELL TO LIST DATA SCIENCE LANGUAGES

### Some of the popular languages that Data Scientists use are:
1. PYTHON
2. R
3. SCALA
4. JAVA
5. SQL

### EXERCISE 5: CREATE A MARKDOWN CELL TO LIST DATA SCIENCE LIBRARIES

### Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. ggplot
4. dplyr
5. seaborn

### EXERCISE 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
| JupyterLab         |
| RStudio            |
| VS Code            |

### EXERCISE 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### EXERCISE 8: Create a code cell to multiply and add numbers

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### EXERCISE 9: Create a code cell to convert minutes to hours

In [1]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

### EXERCISE 11: Create a Markdown cell to indicate the author's name

## Author
##### Antonio Navarro Luna